
<div fxLayout="row">

  <div fxHide.xs="true" fxFlex="35"></div>

  <div fxLayout="column" fxFlex.xs="100" fxFlex="30" class="form-div">
    <form ngNoForm action="/register" method="post" enctype="multipart/form-data">

      <div fxLayout="row" fxLayoutAlign="center center">
          <label fxFlex.xs="100" fxFlex="100">Registration Form </label>
      </div>
      
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center center">
          <label fxFlex="40" for="name">Name</label>
          <input fxFlex="60" type="text" name="name" placeholder="Name" required minlength="4">
        </div>
      </div>

      <div fxLayout="column">
        <div flexLayout="row" fxLayoutAlign="center center">
          <label fxFlex="40" for="phone">Phone</label>
          <input fxFlex="60" type="number" name="phone" placeholder="Phone" required minlength="10">
        </div>
      </div>

      <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center center">
          <label fxFlex="40" for="email">Email</label>
          <input fxFlex="60" type="email" name="email" placeholder="Email" required>  
        </div>
      </div>


      <div fxLayout="column">

        <div fxLayout="row" fxLayoutAlign="center center">
            <label fxFlex="40" for="jobTitle">Job Title</label>
            <input fxFlex="60" type="text" name="jobTitle" placeholder="Job Title" required>
        </div>
      </div>
      
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center center">
            <label fxFlex="40" for="resume">Upload Resume</label>
            <input fxFlex="58" type="file" name="resume" required>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
          <input fxFlex="50" type="submit" value="Submit">
      </div>
      
      <div fxLayout="row" fxLayoutAlign="center center" > 
        <input fxFlex="100" type="text" disabled >
      </div>

    </form>
  </div>
</div>